<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All products</title>
</head>
<body>
    <h1>Scores</h1>
    <table>
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <!-- <td>{{ product[0] }}</td> -->
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>